doctype html
title=title
link(rel='stylesheet', href='/ultimatum/html/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='../css/style.css')
body
    div(id='container')
        h1=thankYou
        !=pleaseGo
        br
        !=weUsually
        ul
            li!=yourTurker
            li!=theHIT +'<em>nodeGame</em>'
            li!=yourExitCode
            li!=yourBrowser
        br
        =notice
