extends iframe-layout

block mainContent
    div(id='container')
        h1=thankYou
        !=pleaseGo
        br
        !=weUsually
        ul
            li!=yourTurker
            li!=theHIT +'<em>nodeGame</em>'
            li!=yourExitCode
            li!=yourBrowser
        br
        =notice
