extends iframe-layout

block mainContent
    div(id='container')
        h1=pleaseReport
        h3=Q+'1'
        p.question=didTheGameProceed
        textarea(rows='10', cols='20', id='comment')

        h3=Q+'2'
        p.question=ifTheGame

        form(id='disconnect_form', name='disconnect_form')
            - for (x = 0; x < 5; ++x)
                input(type='radio', name='disconnect',value=x+'')
                |\n
                =reason[x]
                br
